<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Sign Up</title>
</head>

<body>
    <form id="form" action="/signup" method="POST">
        <label for="username">Identificate</label>
        <br>
        <input type="text" name="username" placeholder="Pon tu nombre fistro de la pradera">

        <br>
        <br>
        <label for="password">Enseña la patita</label>
        <br>
        <input type="password" name="password" placeholder="prueba otra vez">
        <br>
        <br>

        <button>Unete al 'Club'</button>
    </form>
    <form id="form" action="/signup" method="POST"></form>
</body>

</html>